# Игнорировать артефакты сборки
/target/

# Игнорировать резервные файлы, если они были созданы
**/*.bak

# Игнорировать временные файлы сборки
/build/

# Игнорировать временные файлы Cargo
**/Cargo.lock

# Игнорировать настройки среды разработки (например, VS Code)
.vscode/
.idea/
